.Heading {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2em;
}

.MovieWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 500px));
  justify-content: center;
  column-gap: 1.25em;
  row-gap: 2.5em;
}
